<div class="footer-grid">
  <div class="container">
      <div class="col-md-2 re-ft-grd">
          <h3>Categories</h3>
          <ul class="categories">
              <li><a href="#">Homme</a></li>
              <li><a href="#">Femme</a></li>
              <li><a href="#">Enfant</a></li>
              <li><a href="#">Accessoires</a></li>

          </ul>
      </div>
      <div class="col-md-2 re-ft-grd">
          <h3>Short links</h3>
          <ul class="shot-links">
              <li><a href="#">Contact </a></li>
              <li><a href="#">Aide</a></li>

              <li><a href="#">Politique de retour</a></li>
              <li><a href="#">Termes & conditions</a></li>

          </ul>
      </div>
      <div class="col-md-6 re-ft-grd">
          <h3>Social</h3>
          <ul class="social">
              <li><a href="#" class="fb">facebook</a></li>
              <li><a href="#" class="twt">twitter</a></li>
              <li><a href="#" class="gpls">g+ plus</a></li>
              <div class="clearfix"></div>
          </ul>
      </div>
      <div class="col-md-2 re-ft-grd">
          <div class="bt-logo">
              <div class="logo">
                  <a routerLink="/" class="ft-log">Sneakers Addict 1210</a>
              </div>
          </div>
      </div>
<div class="clearfix"></div>
  </div>
  <div class="copy-rt">
      <div class="container">
  <p>&copy;   2021 Sneakers Addict 1210 Tout droit réservé. <br>
   Design by <a routerLink="/" style="color: cyan;">fly</a></p>
      </div>
  </div>
</div>
