<div class="header" >
  <div class="container">
      <div class="header-top">
          <div class="logo">
            <a href="index.html">  <img src="assets/images/logo.png" width="170px;" height="auto">  </a>
          </div>
          <div class="login-bars">
              <a class="btn btn-default log-bar" *ngIf="!logged" routerLink="/register" role="button">S'inscrire</a>
              <a class="btn btn-default log-bar"  *ngIf="!logged" routerLink="/sign-in" role="button">Se connecter</a>
              <a  *ngIf="logged" routerLink="/"   class="btn btn-default log-bar" role="button" (click)="logout()">  logout </a>
              <div class="cd-cart cd-cart--empty js-cd-cart" style="top: 0px;">
                <a mat-button (click)="openDialog()"class="cd-cart__trigger text-replace">
                  <i class="fa fa-cart-plus" aria-hidden="true"></i> {{prixtotal| currency:'EUR'}}

                  <ul class="cd-cart__count"> <!-- cart items count -->
                    <li>{{calcTotal()}}</li>
                    <li>0</li>
                  </ul> <!-- .cd-cart__count -->
                </a>


              </div> <!-- cd-cart -->

          </div>
<div class="clearfix"></div>
      </div>
      <!---menu-----bar--->
      <div class="header-botom">
          <div class="content white">
          <nav class="navbar navbar-default nav-menu" role="navigation">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <div class="clearfix"></div>
              <!--/.navbar-header-->

              <div class="collapse navbar-collapse collapse-pdng" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav nav-font">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Homme<b class="caret"></b></a>
                          <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="col-sm-4 menu-img-pad">
                                    <ul class="multi-column-dropdown">
                                        <li><a routerLink="/products/Chaussures/Homme">Chaussures</a></li>
                                        <li><a routerLink="/products/Vetements/Homme">Vêtements</a></li>
                                        <li><a routerLink="/products/Accessoires/Homme">Accessoires</a></li>
                                        <!-- <li class="divider"></li>
                                        <li><a href="products.html">Tennis</a></li>
                                        <li class="divider"></li>
                                        <li><a href="products.html">Casual</a></li> -->
                                    </ul>
                                </div>
                                <div class="col-sm-4 menu-img-pad">
            <a href="#"><img src="assets/images/menu1.jpg" alt="/" class="img-rsponsive men-img-wid" /></a>
                                </div>
                                <div class="col-sm-4 menu-img-pad">
            <a href="#"><img src="assets/images/menu2.jpg" alt="/" class="img-rsponsive men-img-wid" /></a>
                                </div>
                            </div>
                        </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Femme<b class="caret"></b></a>
                          <ul class="dropdown-menu multi-column columns-3">
                              <div class="row">
                                  <div class="col-sm-4 menu-img-pad">
                                      <ul class="multi-column-dropdown">
                                          <li><a routerLink="/products/Chaussures/Femme">Chaussures</a></li>
                                          <li><a routerLink="/products/Vetements/Femme">Vêtements</a></li>
                                          <li><a routerLink="/products/Accessoires/Femme">Accessoires</a></li>
                                          <!-- <li class="divider"></li>
                                          <li><a href="products.html">Tennis</a></li>
                                          <li class="divider"></li>
                                          <li><a href="products.html">Casual</a></li> -->
                                      </ul>
                                  </div>
                                  <div class="col-sm-4 menu-img-pad">
              <a href="#"><img src="https://m3.jeans-industry.fr/249739-medium_listing/escarpins-a-lettres.jpg" alt="/" class="img-rsponsive men-img-wid" /></a>
                                  </div>
                                  <div class="col-sm-4 menu-img-pad">
              <a href="#"><img src="https://cdn1.brentinyparis.com/142100-large_default/baskets-montantes-beiges-oo-a-semelle-epaisse.jpg" alt="/" class="img-rsponsive men-img-wid" /></a>
                                  </div>
                              </div>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Enfant<b class="caret"></b></a>
                          <ul class="dropdown-menu multi-column columns-2">
                              <div class="row">
                                  <div class="col-sm-6">
                                      <ul class="multi-column-dropdown">
                                          <li><a href="products.html">Chaussures</a></li>
                                          <li><a href="products.html">Vêtements</a></li>
                                          <li><a href="products.html">Accessoires</a></li>
                                          <!-- <li class="divider"></li>
                                          <li><a href="products.html">Sports</a></li>
                                          <li class="divider"></li>
                                          <li><a href="products.html">Gym</a></li> -->
                                      </ul>
                                  </div>
                                  <div class="col-sm-6">
              <a href="#"><img src="https://i.pinimg.com/originals/43/93/05/43930522d467c1eff7edc9572ad4ff6f.jpg" alt="/" class="img-rsponsive men-img-wid" /></a>
                                  </div>
                              </div>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accessoire<b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="products.html">Sac</a></li>
                              <li><a href="products.html">Ceinture</a></li>
                              <li><a href="products.html">Montre</a></li>
                              <li class="divider"></li>
                              <li><a href="products.html">Broche</a></li>
                              <li class="divider"></li>
                              <li><a href="products.html">Marques</a></li>
                          </ul>
                      </li>
                      <li><a href="contact.html">contact</a></li>
                      <div class="clearfix"></div>
                  </ul>
                  <div class="clearfix"></div>
              </div>
              <!--/.navbar-collapse-->
              <div class="clearfix"></div>
          </nav>
          <!--/.navbar-->
              <div class="clearfix"></div>
          </div>
          <!--/.content--->
      </div>
          <!--header-bottom-->
  </div>
</div>
