<app-appheader></app-appheader>
<!-- products -->
<div *ngIf="error">
  {{ error }}
</div>


<div class="products">
  <div class="container">
    <div class="col-md-9 product-w3ls-right">
      <!-- breadcrumbs -->
      <ol class="breadcrumb breadcrumb1">
        <li><a routerLink="/">Accueil</a></li>
        <li class="active">Produits</li>
      </ol>
      <div class="clearfix"> </div>


      <app-shopping-cart [products]="cartProductList" (productRemoved)="removeProduct($event)"></app-shopping-cart>



      <!--//products-->
      <!-- Listes des produits -->
      <div class="products-gallery">
        <div class="container">
          <div class="col-md-9 grid-gallery">
            <div class="col-md-4 grid-stn simpleCart_shelfItem" *ngFor="let produit of categProuctlist">
              <!-- normal -->
              <div class="ih-item square effect3 bottom_to_top">
                <div class="bottom-2-top">
                  <div class="img"><img src="http://localhost:1337{{produit.images[0].url}}" alt="/"
                      class="img-responsive gri-wid"></div>
                  <div class="info">
                    <div class="pull-left styl-hdn">
                      <h3>{{ (produit.nom.length > 20) ? (produit.nom | slice:0:10) + '...' : produit.nom}}</h3>
                    </div>
                    <div class="pull-right styl-price">
                      <p><button (click)="addProductToCart(produit)" class="item_add"><span
                            class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span
                            class=" item_price">{{produit.prix | currency:'EUR'}}</span></button></p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <!-- end normal -->
              <div class="quick-view">
                <a routerLink="/detail/{{produit.id}}" routerLinkActive="router-link-active"> <i class="fa fa-eye"></i>
                </a>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>

          <app-sidebarlinks></app-sidebarlinks>
