<div class="head-bread">
  <div class="container">
      <ol class="breadcrumb">
          <li><a routerLink="/home">Accueil</a></li>
          <li><a routerLink="/sign-in">Se connecter</a></li>
          <li class="active">S'inscrire</li>
      </ol>
  </div>
</div>
<!-- reg-form -->
<div class="reg-form">
<div class="container">
<div class="reg">
<h3>S'inscrire maintenant</h3>
<p>Bienvenue, s'il vous plaît renseigner les détails ci-dessous </p>
<p>Vous êtes déjà inscrit, <a routerLink="/sign-in">cliquez ici</a></p>
<form>
<ul>
  <li class="text-info">Prénom: </li>
  <li><input type="text" value=""></li>
</ul>
<ul>
  <li class="text-info">Nom: </li>
  <li><input type="text" value=""></li>
 </ul>
<ul>
  <li class="text-info">Email: </li>
  <li><input type="text" value=""></li>
</ul>
<ul>
  <li class="text-info">Mot de passe: </li>
  <li><input type="password" value=""></li>
</ul>
<ul>
  <li class="text-info">Re-entrer Mot de passe:</li>
  <li><input type="password" value=""></li>
</ul>
<ul>
  <li class="text-info">Numéro de téléphone:</li>
  <li><input type="text" value=""></li>
</ul>
<input type="submit" value="Register Now">
<p class="click">En cliquant ce bouton vous acceptez  <a href="#">Les termes et Conditions de vente.</a></p>
</form>
</div>
</div>
</div>
